body{
    margin:0;
    font-family: Arial;
    background-image: url("back.jpeg");
    background-size: cover;
    background-position: center;
    text-align:center;
}

/* HEADER */

header{
    position: fixed;
    top:0;
    width:100%;
}

nav{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:20px;
    padding:15px;
}

nav a{
    text-decoration:none;
    color:white;
    font-size:14px;
}

nav a:hover{
    border-bottom:2px solid white;
}

.akun{
    width:25px;
}

/* CONTAINER */

.container{
    margin-top:150px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

/* LOGO */

.logo img{
    width:250px;
    max-width:80%;
}

/* SEARCH */

.search{
    position:relative;
    width:500px;
    max-width:90%;
}

.search input{
    width:100%;
    padding:12px 40px 12px 20px;
    border-radius:25px;
    border:none;
    font-size:16px;
}

/* MIC ICON */

.mic{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    width:18px;
}

/* BUTTON */

.button{
    padding:10px 25px;
    border:none;
    border-radius:20px;
    background:#3386a7;
    color:white;
    font-size:15px;
    cursor:pointer;
}

.button:hover{
    background:#69713c;
}

/* RESPONSIVE HP */

@media (max-width:600px){

nav{
    gap:10px;
}

nav a{
    font-size:12px;
}

.logo img{
    width:180px;
}

.button{
    width:90%;
}

}

nav a{
    text-decoration: none;
    color: white;
}

nav a:visited{
    color: white;
}

nav a:hover{
    border-bottom:2px solid white;
}

nav{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:20px;
    padding:15px;
}